.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items at the top */
    align-items: flex-start; /* Align items to the left */
}



.jobs {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    
}