.showProfilePage .hide {
    opacity: 0;
    height: 0;
}

.showProfilePage {
   
}

.showProfilePage header {
    border-bottom: solid 1px #7C8493;
}

.showProfilePage header h1 {
    padding: 38px 32px;
}

.showProfilePage .userdata {
    padding: 32px;
    display: flex;
    gap: 24px;
}

.showProfilePage .userdata .largeContainer {
    width: calc((70% - 24px));
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 24px;
}


/*//////////////////////////////////////////////////////////////////////////////////////////*/

.showProfilePage .userdata .smallContainer {
    width: 30%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.checkbox-wrapper-17 input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.checkbox-wrapper-17 label {
    --size: 40px;

    cursor: pointer;
    width: var(--size);
    height: calc(var(--size) / 2);
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
}

.checkbox-wrapper-17 label:after {
    content: '';
    position: absolute;
    top: 6%;
    left: 2.5%;
    width: calc(50% - 5%);
    height: calc(100% - 11%);
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

.checkbox-wrapper-17 input:checked+label {
    background: #bada55;
}

.checkbox-wrapper-17 input:checked+label:after {
    left: calc(100% - 2.5%);
    transform: translateX(-100%);
}

.checkbox-wrapper-17 label:active:after {
    width: 55%;
}
