.educations {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 24px;
    border: 2px solid #D6DDEB;
}

.educations .header {
    display: flex;
    justify-content: space-between;
}

.educations .header button {
    width: 30px;
    height: 30px;
    font-size: 30px;
    color: #4640DE;
    background-color: #FFF;
    border: 2px solid #D6DDEB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.educations .education {
    display: flex;
    position: relative;
    width: 100%;
    padding-bottom: 24px;
    border-bottom: 2px solid #D6DDEB;
}

.educations .education .data {
    display: flex;
    gap: 24px;
    width: 100%;
    margin-left: 20px;
}

.educations .education .rightSide {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}

.educations .education .edit {
    border: 2px solid #CCCCF5;
    padding: 5px;
}

.educations .education .rightSide h3 {
    font-size: 20px;
    font-weight: 700;
}

.educations .education .rightSide p {
    color: #515B6F;
    margin-left: 5px;
}

.educations .education .rightSide span {
    color: #000;
    font-weight: 600;
}

.educations .education img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

.educations form {
    display: flex;
    gap: 24px;
    width: 100%;
}

.educations form .ImgContainer {
    position: relative;
    width: 80px;
    height: 80px;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.educations form .image {
    width: 70px;
    height: 70px;
    background-color: #FFF;
    padding: 5px;
}

.educations form .data {
    display: flex;
    flex-direction: column;
}

.educations form .data input {
    width: 150px;
    height: 20px;
    text-align: center;
    border: none;
    border-bottom: 2px solid #D6DDEB;
}

.educations form .data div {
    display: flex;
    gap: 5px;
}

.educations form .data textarea {
    width: 60%;
    overflow: hidden;
    border: none;
    resize: none;
    border-bottom: 2px solid #D6DDEB;

}

.educations .education .saveButton {
    position: absolute;
    right: 127px;
    bottom: 25px;
    padding: 7px 21px;
    background-color: #4640DE;
    color: #FFF;
    border: none;
    border-radius: 5px;
}

.educations .education .deleteButton {
    position: absolute;
    right: 50px;
    bottom: 60px;
    padding: 7px 15px;
    background-color: #de4040;
    color: #FFF;
    border: none;
    border-radius: 5px;
}

.educations .education .cancelButton {
    position: absolute;
    right: 50px;
    bottom: 25px;
    padding: 7px 13px;
    background-color: #de4040;
    color: #FFF;
    border: none;
    border-radius: 5px;
}